@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Montserrat:ital,wght@1,100&family=Noto+Sans:ital,wght@1,700&display=swap');
* {
    font-family: "Noto Sans";
}
h2{
    font-size:32px;
    color:blue;
    border-bottom:1px solid #0e0c0c;
}
.mainspace{
    background-color:white
}

div{
    border: 0.5px solid;
    color:black;
box-shadow: 8px 1px 20px 0px rgba(247, 240, 241, 0.2);/*x크기,y크기,흐림정도,번짐정도*/
} 
.titlebutton{
    float:right;
matgin-top:10px;
}

.titlebox{
margin-top : 15px;

}
.mainbox{
    margin-left:130px;
}
.mainimg{

    width:250px;
    float:right;
    margin:40px;
    height:200px;
}
.wiki{
    color:blue;
}
.footer{
    text-align:center;
}
.categorybox{
    width:120px;
font-size:15px; 
    margin-top:40px;
    float:left;
    height:800px;
}