@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: "Noto Sans";
}

h1{
    padding:15px;
}
h2{
    font-size: 50px;
    border-bottom: 1px solid black;
}

.mainspace{
    background-color:gray;
}

div{
    /*margin border padding*/

    border:1px solid #fff;
    box-shadow:0px 1px 20px 0px rgba(226, 61, 212, 0.4);/*x축 y축 흐림정도, 번짐정도, 색깔*/
}

.titlebox{
    margin-top:15px;
}

.mainbox{
    margin: 15px;
}

.mainImg{
    width:250px;
    float: right;
    margin:15px;
}

.buttonsection{
    float: right;
    margin: 20px;
}
footer{
    text-align: center;
}