@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
*{
font-family: 'Noto Sans KR', sans-serif;
text-align:center;
}

.box{
border:5px solid black;
margin:10ox;
padding-bottom:30px;

}
.btn{
    background-color:white !important;
font-size:50px !important;
}
.test{
    display:none;
}