@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Roboto:wght@100&display=swap');
* {
    font-family: "Roboto";
}
h1{
    padding: 15px;
}
h2{
    font-size:50px;
    color: rgb(142, 141, 196);
    border-bottom: 1px solid rgb(10, 9, 9); /*테두리 중에서 아래에 선을 긋기*/
}
footer{
    text-align: center;
}
.MainSpace{
    background-color: aliceblue; /*배경화면 색깔 바꾸기*/
}

div {
    border: 1px solid #ebebeb; /* 테두리 만들기 */
    box-shadow:  0px 1px 20px 0px rgba(115, 80,212,0.4);/*x크기 y크기 흐림정도 번짐정도 색깔*/ /*박스의 그림자 생성*/

}

.titlebox {
    margin-top: 15px; /*윗테투리 위의 여백*/
}
.buttonSection{
    float: right; /*병렬로 재배치*/
    margin-top: 10px;
    font-size:20px;
}
.mainbox{
    margin: 15px;
    margin-left: 150px;
}
.categorybox{
    width: 120px;
    height: 536px;
    float: left;
    font-size: 15px;
    margin: 15px;
}

.imgSection{
    width:250px;
    float: right;
    margin: 15px;
}
